main{
    .hero{
        width: 100vw;
        height: calc(100vh - 40px);
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fondo-explora.jpg);
        background-position: bottom;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 40px;
            color: white;
        }
        .line{
            width: 150px;
            height: 3px;
            background: beige;
            margin: 10px auto;
            border-radius: 5px;
        }
        h1{
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: whitesmoke;
        }
        a{
            font-size: 14px;
            text-decoration: none;
            background-color: rgba(255, 228, 196, 0.859);
            color: black;
            padding: 8px 15px;
            border-radius: 10px;
            font-weight: bold;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
            &:hover{
                background-color: whitesmoke;
                color: black; 
            }
        }
    }
    .filosofia{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 300px;
        margin-right: 300px;
        .filosofia-content{
            margin-bottom: 70px;
            margin: 20px;
            h2{
                font-size: 20px;
                margin-bottom: 20px;
                margin-top: 20px;
                text-align: center;
            }
            .line{
                width: 200px;
                height: 2px;
                background: black;
                margin: 20px auto;
                margin-bottom: 30px;
                border-radius: 5px;
            }
            p{
                text-align: left;
                margin-bottom: 40px;
                line-height: 2;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .top-5{
        background-color: rgba(255, 228, 196, 0.237);
        padding-top: 5px;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
        h2{
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 10px;
            text-align: center;
        }
        .line{
            width: 220px;
            height: 2px;
            background: black;
            margin: 10px auto;
            border-radius: 5px;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            .card-viajes{
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
                .card{
                    margin: 20px 10px;
                    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: white;
                    &:hover{
                        transform: scale(1.05);
                    }
                    img{
                        width: 100%; 
                        height: 250px;
                    }
                    h3{
                        margin: 10px 0px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    p{
                        font-size: 15px;
                        line-height: 1.5;
                        padding: 0px 10px;
                        margin-bottom: 20px;
                    }
                    a{
                        font-size: 14px;
                        text-decoration: none;
                        background-color: rgba(255, 228, 196, 0.859);
                        color: black;
                        padding: 8px 15px;
                        border-radius: 10px;
                        font-weight: bold;
                        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                        &:hover{
                            background-color: #e17055;
                            color: white;                            
                        }
                    }
                }
            }
        }
        }
    .baires{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;        
        .baires-contenido{
            display: flex;
            justify-content: space-between;
            align-items: center;          
            .baires-texto{
                width: 600px;
                padding-right: 60px; 
                /*margin-left: 50px;*/
                h2{
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                .line{
                    width: 150px;
                    height: 2px;
                    background: black;
                    margin-left: 0;
                    margin-bottom: 30px;
                    border-radius: 5px;
                }
                p{
                    margin-bottom: 30px;
                    line-height: 1.8;
                    span{
                        font-weight: bold;
                    }
                }
                a{
                    font-size: 14px;
                    text-decoration: none;
                    background-color: rgba(255, 228, 196, 0.859);
                    color: black;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                    &:hover{
                        background-color:#e17055; 
                        color: white;
                    }
                }
            }
            .baires-img{
                img{
                    width: 300px;
                    height: 300px;
                    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                    text-align: center;                    
                }
            }
        }
    }
    .viaja-vos{
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/camioneta.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        .viaja-content{
            width: 100%;
            padding: 50px;
            color: whitesmoke;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .wrap{
                border: 1.5px solid beige;
                padding: 2rem 3rem;
                box-shadow: 0 0 25px #222;
                border-radius: 15px;
                h2{
                    font-size: 30px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                p{
                    margin-bottom: 30px;
                    font-weight: bold;
                    font-size: 20px;
                }
                a{
                    font-size: 14px;
                    text-decoration: none;
                    background-color: rgba(255, 228, 196, 0.859);
                    color: black;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                    &:hover{
                        background-color: #e17055;
                        color: white;
                    }
                }
            }
        }
    }
}

//AVION FUERA DEL MAIN

.avion-up{
    position: fixed;
    bottom: 30px;
    right: 20px;
    a{
        img{width: 40px;
            &:hover{
                transform: scale(1.15);
            }
        }
    }
}

// PÁGINA NOSOTRAS

main{
    .hero-nosotras{
        width: 100vw;
        height: calc(100vh - 40px);
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/pies-espejo.jpg);
        background-position: bottom;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .nosotras-contenido{
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            margin: 20px 10px;
            .nosotras-img{
                img{
                    width: 450px;
                    height: 600px;
                    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                    text-align: center;                    
                }
            }
            .nosotras-texto{
                width: 400px;
                text-align: center;
                p{
                    font-size: 15px;
                    margin: 10px;
                    span{
                        font-size: 18px;
                        color: #e17055;
                        font-weight: bold;
                        font-style: italic;
                    }
                }
            }
            }
        }
    }

//PAGINA VIAJES

main{
    .viajes{
        .galeria-presentacion{
            width: 100vw;
            height: calc(45vh - 40px);
            background-color: $color-secundario;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                color: black;
            }
            .line{
                width: 210px;
                height: 3px;
                background: $color-terciario;
                margin: 10px auto;
                border-radius: 5px;
            }
            .nubes{
                .nube-sol{
                    position: absolute;
                    top: 15%;
                    left: 10%;
                    height: 100px;
                }
                .nube-1{
                    position: absolute;
                    top: 60%;
                    left: 80%;
                    height: 100px;
                }
            }
            .avion-animation{
                .avion{
                    height: 80px;
                    position: absolute;
                    bottom: 0%;
                    right: -8%;
                    animation: avionAnim 15s infinite linear;
                }
            }
        }
        .galeria-subt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                color:$color-terciario;
                font-size: 20px;
                text-align: center;
                margin-top: 35px;
                margin-bottom: 25px;
            }
            span{
                font-style: italic;
                font-style: bold;
                font-size: 18px;
                color:$color-terciario;
            }
        }
    }
        .galeria-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 300px;
            padding: 20px;
            grid-gap: 15px;
            margin-bottom: 40px;
            margin-left: 80px;
            margin-right: 80px;
            .galeria-item{
                position: relative;
                .galeria-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &:nth-child(2){
                        grid-row-start: span 2;
                    }
                }
                .img-body{
                    .galeria-titulo{
                        position:absolute;
                        bottom: 0;
                        color: white;
                        background: linear-gradient(rgba(255,255,255,0.5));
                        margin: 0;
                        padding: 10px;
                        h2{
                            font-size: 10px;
                        }
                }
                }
            }
            
        }
    }


// PÁGINA TURISTAS EN BA

main{
    .hero-turista{
        width: 100vw;
        height: calc(100vh - 40px);
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fondo-explora.jpg);
        background-position: bottom;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: whitesmoke;
        }
        p{
            color: whitesmoke;
        }
    }
}

// PÁGINA EXPLORA - CONTACTO

main{
    .hero-explora{
        width: 100vw;
        height: calc(50vh - 40px);
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fondo-explora.jpg);
        background-position: bottom;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 70px;
            color: white;
        }
    }
    .contacto{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        .contact-wraper{
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.138);
            border-radius: 20px;
            overflow: hidden;
            .contact-form{
                background: rgba(245, 245, 220, 0.7);
                color: black;
                padding: 1em; 
                h3{
                    color:  #edbf42; 
                    text-align: center;
                }
                .texto-contacto{
                    text-align: center;
                    margin-bottom: 50px;
                }
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    p{
                        margin:0;
                        padding: 1em;
                        label{
                            padding-left: 10px;
                        }
                        input{
                            width: 100%;
                            padding: .5em;
                            border: none;
                            background: none;
                            border-bottom: 1.5px solid #e8c668; 
                            outline: none;
                            color: black; 
                        }
                        select{
                            border: none;
                            background: none;
                            outline:none;
                            border-bottom: 1.5px solid #e8c668; 
                        }
                    }
                    .block{
                        grid-column: 1/3;
                        textarea{
                            width: 100%;
                            padding: .5em;
                            border: none;
                            background: none;
                            border-bottom: 1.5px solid #e8c668; 
                            outline: none;
                            color: black; 
                            }
                        button{
                            background-color: beige;
                            padding: 5px;
                            border-radius: 10px;
                            border-color: #e8c668;
                            color: black; 
                            &:hover, :focus{
                                background:  #e8c668; 
                                border-color: #e8c668;; 
                                color: white; 
                                outline: none;
                                }
                            }
                        }
                    }  
                }
                }
        }
}
    

