@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

body,
html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.btn{
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 2px 2px;
    /*border-radius: 5px;*/
    font-weight: bold;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    border: none;
    &:hover{
        background-color:#e17055; 
        color: whitesmoke;
        }
}