$color-primario: beige;
$color-secundario: rgba(255, 228, 196, 0.859);
$color-terciario: #e17055;

.animate__animated.animate__pulse {
    --animate-duration: 4s;
}

@keyframes avionAnim{
    0%{
        bottom: 0%;
        right: -8%;
    }
    100%{
        right: 110%;
        bottom: 50%;
    }
}